In [40]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:80% !important;}
div.CodeMirror {font-family:Consolas; font-size:16pt;}
div.output {font-size:16pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:16pt;}
div.prompt {min-width:70px;}
div#toc-header{margin-top:150px;}
</style>
<style>
span.toc-item-num{
display:none;
}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 1절. 변수

## 1.1변수 선언
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.2 변수 할당
- 할당 연산자를 이용해서 변수값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체

In [6]:
r = 5
area = 3.14 * r * r
print('계산된 넓이는', area)

계산된 넓이는 78.5

In [7]:
import numpy as np # numpy 라는 패키지(폴더)를 np라는 이름으로 사용

In [8]:
area = np.pi * r * r
print(area)

78.53981633974483

In [11]:
print('area의 주소 : ',id(area)) # id(area) : area변수(객체)의 주소값
print('area의 타입 : ',type(area))

area의 주소 :  2750546637840
area의 타입 :  <class 'float'>

In [12]:
area.is_integer()

False

In [13]:
area = 10

In [14]:
print('area의 주소 : ',id(area)) # id(area) : area변수(객체)의 주소값
print('area의 타입 : ',type(area))

area의 주소 :  2750424351248
area의 타입 :  <class 'int'>

In [15]:
area = '파이썬'

In [16]:
print('area의 주소 : ',id(area)) # id(area) : area변수(객체)의 주소값
print('area의 타입 : ',type(area))

area의 주소 :  2750547589616
area의 타입 :  <class 'str'>

## 1.3 변수 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 제외 하고는 사용못함), 숫자, _로 변수명을 작성 가능
- 함수명은 변수이름으로 가능은 하지만 피한다.(어쩔수없이 사용해야 한다면 int_식으로 _를 사용한다 )
- 파이썬 예약어(if, while, ...)사용은 변수이름 사용 불가능
- 한글 변수는 꼭 필요할때만 사용 한다

In [22]:
이름 = "홍길동"
이름

'홍길동'

In [23]:
print(이름)

홍길동

In [ ]:
if = 5

In [ ]:
member_name = 5 # 
memberName = 5 # 카멜표기법

In [25]:
print = 5

In [26]:
del print #print 변수 삭제
print_ = 5
print(이름)

홍길동

## 1.4 도움말

In [27]:
i = 3 + 3j
type(i)

complex

In [28]:
isinstance(i, complex) # i 변수(객체)가 complex타입인지 여부

True

In [ ]:
print()

In [30]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 되고
    y = 1의 자리수가 된다(default값이 0)
    사용법 : add(2,4) => 24
    '''
    return x*10+y

In [31]:
add(5,4)

54

In [32]:
add(5)

50

In [33]:
a = add # 함수형 언어는 변수에 함수 할당이 가능

In [34]:
a(5,4)

54

In [35]:
a(5)

50

## 1.5 다중 변수 선언

In [36]:
a = 10
b = 20

In [37]:
a, b = 10, 20 # 동시에 다중변수 선언

In [38]:
a, b

(10, 20)

In [39]:
a, b = b, a+b

In [40]:
a, b

(20, 30)

# 2절. 화면 i/o

In [42]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자열
first = input()
first

10

'10'

In [43]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?10
두번째 숫자는?50

In [44]:
print('두수의 합은', first+second)

두수의 합은 1050

In [45]:
second

'50'

In [46]:
int(first) + int(second)

60

In [47]:
sum = int(first) + int(second)

In [48]:
print('합', sum)

합 60

In [49]:
print('합', sum, 'Hello', 'World', sep=' / ', end=' \t\t')
print('Hello','Python', sep=' ~ ')

합 / 60 / Hello / World 		Hello ~ Python

In [53]:
import sys
print('hello', 'world', 'hello', 'python', sep=' - ')

hello - world - hello - python

# 3절. 기본 자료형
- 프로그래밍 언어들은 변수가 가져야 할 값의 형식, 범위에 따라 값의 유형을 정해 놓고 사용.
- 자료형에 따라 값의 크기와 저장방식이 달라짐.
- 자료형에 따라 수행할수 있는 명령어들이 달라짐.

  * '숫자' - int, float, complex
  * '문자' - str
  * '논리' - bool

## 3.1 숫자형

In [54]:
import sys
print(sys.maxsize) # 정수의 최대값 : 2^63-1

9223372036854775807

In [55]:
i = sys.maxsize + 100
print('i값:', i)

i값: 9223372036854775907

In [56]:
f = 3/2 # 정수/정수는 무조건 실수
f

1.5

In [58]:
f = 3/3
f

1.0

## 3.2 문자형

In [62]:
name = '홍길동\'짱\'' # 홍길동 '짱'
address = "서울시 '관악구' 신림동"
print(name, address)

홍길동'짱' 서울시 '관악구' 신림동

In [63]:
text = '여러줄짜리 내용을 저장\n줄바꿈 문자를 쓰면 당연히 여러줄 \n줄바꿈은 가동성 떨어져'
print(text)

여러줄짜리 내용을 저장
줄바꿈 문자를 쓰면 당연히 여러줄
줄바꿈은 가동성 떨어져

In [64]:
text = '''여러줄짜리 내용을 저장
줄바꿈문자 쓰지않고 따옴표 3개로 처리
이처럼 쓰는 경우가 더 많이 있다
'''
print(text)

여러줄짜리 내용을 저장
줄바꿈문자 쓰지않고 따옴표 3개로 처리
이처럼 쓰는 경우가 더 많이 있다

### ※ 문자열 연산

In [4]:
'''
    여러줄 주석 용도
    2024.11.5 문자열 연산 by 아무개
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)

홍길동동해번쩍

In [5]:
print(name1 * 3)

홍길동홍길동홍길동

### ※ raw 데이터

In [3]:
# raw 데이터 처리시 이스케이프문자(\n, \t, \r, \', \")
print(r'Hello\nWorld')

Hello\nWorld

In [26]:
# 정규표현식 이용
import re # re라는 패키지를 가져와야함
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 \
혈액형:B"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 혈액형:B

In [27]:
#정규표현식 처리에서는 raw 데이터 처리를 하지 않아도 실행은 되나 
#실수를 줄이고 가독성을 높이는 용도로 raw 데이터 처리를 사용
tel_pattern = r"\d{2,3}-\d{3,4}-\d{4}"
tels = re.findall(tel_pattern, data) #특정한 데이터를 해당 패턴을 찾아오는 함수(re.findall)
print(tels)

['02-888-8888', '010-9999-9999']

In [28]:
# 정규표현식 패턴과 처음 match 되는 것 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [29]:
print(data[18:29]) #전화번호 위치
print(firstTel.group(0))

02-888-8888
02-888-8888

In [30]:
phone_pattern = r'(\d{2,3})-(\d{3,4})-(\d{4})'
first_phone = re.search(phone_pattern, data)
first_phone

In [31]:
print('전체 전화번호 :', first_phone.group(0))
print('국번 :', first_phone.group(1))
print('중간 번호 :', first_phone.group(2))
print('끝 번호 :', first_phone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간 번호 : 888
끝 번호 : 8888

In [9]:
# 파일경로에는 반드시 r을 사용하거나 \\로 이용하거나 /를 사용
# file_path = 'D:\\ai\\source\\07_python\\test.txt'
# file_path = 'D:/ai/sourche/07_python/test.txt'
file_path = r'd:\ai\source\07_python\test.txt'

In [13]:
file_stream = open(file_path, 'w')
print('Hello, World', 'Hello, Python', sep='\n') # 콘솔 출력
print('Hello, World', 'Hello, Python', sep='\n', file=file_stream)
file_stream.close()

Hello, World
Hello, Python

### ※ 문자열 슬라이싱

In [19]:
str_ = '0123456789'
str_

'0123456789'

In [20]:
str_[0],str_[2],str_[-1] # 음수인덱싱은 맨 마지막이 -1

('0', '2', '9')

In [21]:
str_[10] # 없는 인덱싱은 에러

IndexError: string index out of range

In [23]:
'''
문자열변수[form:stop] : from부터 stop앞까지 추출
문자열변수[from:stop:step] : from부터 stop앞까지 step씩 전진하면서 추출
    from 생략시 처음부터
    stop 생략시 끝까지
    step 생략시 1
'''
str_[0:3] # 0번째부터 3번째앞까지

'012'

In [24]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [25]:
# 인덱싱의 경우 없는 인덱스번호를 사용하면 에러
# 슬라이싱의 경우 없는 인덱스 범위를 벗어나면 끝까지를 의미
str_[5:19]

'56789'

In [28]:
print(str_[0:10])
print(str_[0:10:2])

0123456789
02468

In [30]:
print(str_[:6]) # 처음부터 6번쨰 앞까지
print(str_[5:]) # 5번째부터 끝까지

012345
56789

In [31]:
print(str_[9:0:-1]) # 9번째부터 0번째전까지 -1씩 전진

987654321

In [32]:
# 마지막부터 처음까지 거꾸로 출력
print(str_[9::-1])
print(str_[::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True, False)

In [35]:
a = True
print(a)
print(type(a)) # 타입
print(isinstance(a, bool))

True
<class 'bool'>
True

In [36]:
int(True), int(False)

(1, 0)

In [41]:
# False로 간주되는 것 : 0, ''-(빈스트링), None, []-빈리스트, ()-빈튜플, {}-빈딕셔너리

In [38]:
if 0:
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
    - type()
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [42]:
int('123'), int(123.55)

(123, 123)

In [44]:
# 에러나는 것들
int(''), int(' '), int(None), int('123.45'), int('1,456')

ValueError: invalid literal for int() with base 10: ''

In [45]:
float('123.45'), float(123), float(False)

(123.45, 123.0)

In [48]:
#에러나는 것들
float(''), float(' '), float(None), float('1,123')

ValueError: could not convert string to float: ''

In [47]:
str(10), str(10.9), str(1.12e10)

('10', '10.9', '11200000000.0')

파이썬 기본 자료형
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터처리시 이스케이프문자(\n,\\, \', \t)를 그대로 저장
3. 논리- False로 판별되는 경우 0, '', none, [], (), {}