# 6절.문자열 다루기
- 문자열슬라이싱변수[from:to:by]
- len(문자열변수)
- upper() : 대문자
- lower() : 소문자
- title() : 각 음절의 앞글자만 대문자로 변경
- capitalize() : 첫문자만 대문자로
- count('찾을문자열') : '찾을문자열' 이 몇개 들어있는지 갯수 반환
- find('찾을문자열') : '찾을문자열' 이 왼쪽부터 시작하여 몇번째에 있는지 index를 반환                                (찾을 문자열이 없으면 -1을 반환)
- rfind('찾을문자열') : '찾을문자열' 이 맨 오른쪽부터 시작하여 몇번째에 있는지 index를 반환                           (찾을 문자열이 없으면 -1을 반환)
- cf.index('찾을문자열') : '찾을문자열' 이 왼쪽부터 시작하여 몇번째 있는지 index를 반환                                 (찾을 문자열이 없으면 오류가 발생함)
- startswith('특정문자열') : '특정문자열' 로 시작하는지 여부 를 반환
- endswith('특정문자열') : '특정문자열' 로 끝나는지 여부 를 반환
- strip() : 좌우 공백 제거(trim)
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
- isdigit() : 문자열이 숫자 문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 반환
- isupper() : 문자열이 대문자인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr을 변경

In [ ]:
temp = "python is easy. python is smart. python"
temp, len(temp)

In [ ]:
print('첫번째 글자는 {}이고, 마지막 글자는 {}입니다'.format(temp[0], temp[-1]))

In [ ]:
tel = "010-7894-2132"
print('전화번호 끝자리: ' , tel[-4:])

In [ ]:
temp = "python is easy. pyTHon is smart. python"
#       012345678901234567890123456789012345678
print('대문자로 :', temp.upper())
print('소문자로 :', temp.lower())
print('title() :', temp.title())
print('capitalize():', temp.capitalize())
print('python이 몇번 나오는지 :', temp.count('python'))
print('대소문자 구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print('대소문자 구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print('대소문자 구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('python이 나오는 첫 index 위치 :', temp.find('python'))
print('python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('Java가 나오는 첫 index 위치 :', temp.find('Java'))
print('python이 나오는 첫 index 위치 :', temp.index('python'))
# print('Java가 나오는 첫 index 위치 :', temp.index('Java'))
print('python으로 시작하는 문자열인지 :',temp.startswith('Python'))
print('python으로 끝나는 문자열인지 :',temp.endswith('python'))
print('python대신 R로 변경 :', temp.replace('python','R').replace('pyTHon','R'))

In [ ]:
temp = '   python is easy   '
notdisit = '1,234'
print('strip() : [{}]'.format(temp.strip()))
print('lstrip() : [{}]'.format(temp.lstrip()))
print('rstrip() : [{}]'.format(temp.rstrip()))
print('isdigit() : {}'.format(notdisit.replace(',','').isdigit()))
print('대문자인지 : {}'.format(temp.isupper()))
print('소문자인지 : {}'.format(temp.islower()))

In [ ]:
temp = '     홍길동     김길동 신길똥 유길뚱'
print('space 단위로 temp를 분리(list로 반환) :', temp.split())

In [ ]:
date = '2024-11-05'
print('- 단위로 date를 분리(list로 반환)합니다')
date_list = date.split('-')
date_list
print('년 :', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])

In [17]:
# ' - '을 '/'로 바꾸기
temp = "Java - Oracle - 웹표준 - JSP - PYTHON"
print('원 temp :',temp)
splited_temp = temp.split(' - ')
print('분리된 temp :',splited_temp)
joined_temp = '/'.join(splited_temp)
print('joined_temp :', joined_temp)

원 temp : Java - Oracle - 웹표준 - JSP - PYTHON
분리된 temp : ['Java', 'Oracle', '웹표준', 'JSP', 'PYTHON']
joined_temp : Java/Oracle/웹표준/JSP/PYTHON

In [ ]:
str_='ABC' # ['A','B','C']
for s in str_:
    print(s)

In [ ]:
str_list=['A','B','C']
for s in str_list:
    print(s)

In [ ]:
# 문자열을 다룰 수 있는 함수들 목록
dir(str)

# 7절. 시간, 날짜 다루기

In [ ]:
# datetime모듈(~.py)안의 datetime, date, time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [ ]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2024, 3 ,7, 18, 0)
thatday

In [ ]:
print(thatday)
print(thatday.strftime("%Y년 %m월 %d일 %p %I시 %M분"))
print("{:%y년 %m월 %d일 %H시%M분%S초}".format(thatday))

In [ ]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now.ctime()) # 사람이 읽기 쉬운 형태로
print(now)
print(now.strftime("%Y년 %m월 %d일 %p %I시 %M분"))
print("{:%y년 %m월 %d일 %H시%M분%S초}".format(now))

## 7.2 날짜

In [ ]:
# 특정한 날짜를 갖는 date 객체 생성

someday = date(2025, 3, 7)
someday

In [ ]:
print(someday)
print(someday.strftime("%Y년%m월%d일 %H시%M분"))
print("{:%Y년%m월%d일 %H시%M분}".format(someday))

In [ ]:
# 오늘을 갖는 date 객체 생성
today = date.today()

## 7.3 시간

In [ ]:

# 특정한 시간을 저장하는 time 객체 생성
t = time(13, 12)
t

In [ ]:
print(t)
print(t.strftime("%Y년%m월%d일 %p %I시%M분S초"))

In [ ]:
now = datetime.now() # 현재 날짜와 현재 시간
now.year, now.month, now.day, now.hour, now.minute, now.second, now.microsecond

In [ ]:
now = datetime.now()
now_time = time(now.hour, now.minute, now.second, now.microsecond)
print(now_time)
print(now_time.strftime("%Y년%m월%d일 %H시%M분"))
print("{:%y년%m월%d일 %H시%M분}".format(now_time))

# 8절. 연습문제

## 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
[출력형식 : 홍길동님의 나이는 23살입니다]

In [ ]:
name = '홍길동'
age = 23
print('{}님의 나이는 {}살입니다'.format(name, age))

## 2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요

In [33]:
a = int(input('a를 입력:'))
b = int(input('b를 입력:'))
print('a+b:',a+b)
print('a-b:',a-b)
print('a*b:',a*b)
print('a/b:',a/b)
print('a//b:',a//b)
print('a%b:',a%b)

a를 입력:

ValueError: invalid literal for int() with base 10: ''

##  3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World’가 할당된 변수를 이용하여 ‘World Hello’로 출력하세요

In [34]:
str = 'Hello World'
str_split = str.split(' ')
temp = str_split[0]
str_split[0] = str_split[1]
str_split[1] = temp
str_join = ' '.join(str_split)
print(str_join)

World Hello

## 4. x = 'abcdef＇를 이용하여 ‘bcdefa’로 출력하세요(문자 슬라이싱이용).

In [35]:
x = 'abcdef'
print('{}{}'.format(x[1:],x[0]))

bcdefa

## 5. x = ‘abcdef’를 이용하여 ‘fedcba’로 출력하세요

In [36]:
print('{}'.format(x[-1::-1]))

fedcba

## 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고, 소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다.(다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨,F는 화씨)
C = (F-32) / 1.8
F = (C*1.8) + 32

In [4]:
c = int(input('오늘의 온도:'))
f = (c*1.8) + 32
print("섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도입니다".format(c,f))

오늘의 온도:13
섭씨 13도는 화씨온도로 바꾸면 55.40도입니다

In [5]:
# if f.is_integer():
if f == round(f):
    print("섭씨 {}도는 화씨온도로 바꾸면 {:.0f}도입니다".format(c,f))
else:
    print("섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도입니다".format(c,f))

섭씨 13도는 화씨온도로 바꾸면 55.40도입니다

## 7. 1-for, 2-10th 3-Student.name

## 8. SeounSeoul
     Seou n Seoul

## 9. 2

## 10. int와 스트링은 연결할 수 없음 오류

## 11. split()함수를 이용하여 str_의 값 중 ＂나라＂를 출력하는 프로그램을 완성하시오

In [38]:
str_ = '우리 나라 대한 민국'
str_split = str_.split(' ')
print(str_split[1])

나라