<b><font color="red" size="6">ch03. 데이터 구조</font></b>
- 리스트[], 튜플(), 딕셔너리(hashMap과 유사), 셋

# 1. 리스트

## 1.1 리스트 만들기
    - []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
    - list()함수 이용도 가능
    - 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
    - 슬라이싱([from:to:by]) : 부분 데이터셋을 추출.
    - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [ ]:
fruits = ['banana','apple','orange','grape',]
type(fruits)

In [ ]:
print(fruits)

In [ ]:
print(fruits[0])

In [ ]:
fruits[0] = 'mango'
print(fruits)

In [ ]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print('x = {}'.format(x))
print('y = {}'.format(y))
print('z = {}'.format(z))

In [ ]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하면서 지정된 버위의
# 숫자를 순차적으로 사용할 수 있게
# from 생략시 0 ,by 생략시 1
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(0, 10 , 2))

In [ ]:
list(range(10,-1,-2))

In [ ]:
for i in [0,1,2]:
    print(i)

In [ ]:
for fruit in fruits:
    print(fruit)

In [ ]:
fruits = ['mango','apple','orange','banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

In [ ]:
list(enumerate(fruits))

In [ ]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx,value))

In [ ]:
numbers = [1,2,3,'4', True, [1,2,3]] 
numbers

In [ ]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5],
              [11,12,13,14,15],
              [91,92,93,94,95]]
len(numbers_2d), len(numbers_2d[0]) # 리스트 갯수

In [ ]:
numbers_2d[1][1]

In [ ]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end ='\t')
    print() #개행

## 1.2 기본 정보 조회

In [ ]:
numbers = [1,12,3,4,5]
numbers_2d=[[100,0,1,2,3],
           [9,100,110,102,130]]

In [ ]:
# 요소의 수
print(len(numbers), len(numbers_2d))

In [ ]:
# 최소값, 최대값
min(numbers), max(numbers)

In [ ]:
# 2차원 list의 min() : 부분 리스트 중에서 첫요소가 가장 작은 값
#             max() : 부분 리스트 중에서 첫요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

In [ ]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'banana', 'orange']
min(fruits), max(fruits)

In [ ]:
# 정렬하기
numbers = [1,12,3,14,5]
print('오름차순정렬 : ', sorted(numbers))
print('내림차순정렬 : ', sorted(numbers, reverse=True))
print('합 : ', sum(numbers))
print(numbers)
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)

## 1.3 요소 추가

In [ ]:
# + : 두 리스트 연결
# * : 리스트를 곱한 수 만큼 반복
# append() : 요소 맨 뒤에 추가
# extend() : 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [ ]:
numbers = [1,2,3]
numbers = numbers + numbers # 리스트 연결
numbers

In [ ]:
numbers = [1, 2, 3]
print(3 * numbers)
print(numbers * 3)

In [ ]:
numbers.append(4)
numbers

In [ ]:
numbers.append([5,6,7])
numbers

In [ ]:
num = [1, 2, 3]
num.extend([4,5,6]) # 요소별로 맨뒤에 각기 추가
num

In [ ]:
lst = ['a','b','c']
lst.append('d')
lst

In [ ]:
lst.append('hello')
lst

In [ ]:
lst.extend('hello')
lst

In [ ]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 데이터의 갯수 반환

In [ ]:
numbers = [1,2,3,[1,2,3],1,2,3]

In [ ]:
numbers.count(2)

In [ ]:
numbers.count(9)

In [ ]:
9 in numbers # 9가 numbers의 요소인지 여부

In [ ]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.index(2) # 처음(0인덱스)부터 2가 나오는 위치

In [ ]:
numbers.index(2, 2) # 2번째부터 2가 처음 나오는 위치

In [ ]:
# 9가 numbers 리스트의 요소에 있는지 여부를 검사
print(numbers.count(9))
print(9 in numbers)

In [ ]:
numbers.index(9)

In [ ]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 요소에 포함되지 않습니다')

In [ ]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

In [ ]:
def safe_index(lst, item):
              return lst.index(item) if item in lst else -1

In [ ]:
safe_index(numbers, 2)

In [ ]:
numbers[20] # 벗어난 인덱싱시 에러

## 1.5 리스트 슬라이싱
1. 리스트 슬라이싱 : list에서 원하는 인덱스 index의 데이터를 추출

- 인덱스의 범위를 벗어난 값도 에러나지 않음
- [from:stop:step] from부터 stop앞까지 step씩 증가하는 index값 추출
    from 생략시 처음, stop시 끝, step생략시 1. 모두 생략 가능
- 인덱스는 음수 가능 <br><br>

2. <font color="red">리스트 컴프리헨션</font>을 이용해서 list의 원하는 데이터 액세스

In [ ]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[0:100])

In [ ]:
# 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 액세스
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 추출
# for data in numbers:
#     print(data, end = '\t')    
[data for data in numbers]

In [ ]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2 == 0:
#         print(data, end='\t')
[data for data in numbers if data%2==0]

In [ ]:
# ex1. numbers에서 10이상 요소만 추출
[data for data in numbers if data>=10]

In [ ]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

In [ ]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

In [ ]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

In [ ]:
# ex4. 리스트의 값의 두배로 추출
L = [1,2,3,4,5]
[data*2 for data in L]

## 1.6 요소 수정하기

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

In [ ]:
# 슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx']
numbers

In [ ]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정
numbers = [0]*10
print('수정전 :',numbers)
numbers[::2] = [9,9,9,9,9]
print('수정후 :',numbers)

In [ ]:
number[::2] = [1,2,3,3,3,3,3]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제

In [ ]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :', numbers)
print('삭제한 데이터 :', numbers.pop(0))
print('삭제한 후 numbers :', numbers)

In [ ]:
numbers = [0,1,2,3,4,5]
print(numbers.remove(3)) # remove()는 반환값이 없고, 해당 데이터 삭제만
print(numbers)

In [ ]:
numbers.remove(9)

In [ ]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 데이터입니다')

In [ ]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다.')

In [ ]:
safe_remove(numbers, 9)

In [ ]:
numbers = [0,1,2,3,4,5]
del numbers[2]
print('삭제 후:',numbers)

In [ ]:
del numbers # 변수 삭제

In [ ]:
numbers

## 1.8 정렬하기

In [ ]:
numbers = [9,5,0,8,6]
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본정렬은 오름차순)
numbers

In [ ]:
numbers = numbers[::-1] # 오름차순 결과를 내림차순으로
numbers

In [ ]:
numbers = [9,5,0,8,6]
numbers.reverse() # 리스트를 역순으로 변경
numbers

In [ ]:
numbers.sort(reverse=True) # 내림차순 정렬
numbers

## 1.9 리스트 복사

In [ ]:
# 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers; # 얕은 복사
new_numbers.sort()
print('원본 :',numbers)
print('정렬 :',new_numbers)
print('원본 주소 :', id(numbers))
print('정렬본 주소 :', id(new_numbers))

In [ ]:
# 깊은 복사(복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순정렬
print('numbers :', numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers 주소 :', id(new_numbers))

In [ ]:
city = ['서울','부산','대전','대구','인천','광주','제주']
temp = city.copy()
temp.sort()
print('정렬전 :', ' '.join(city))
print('정렬후 :', ' '.join(temp))

# 2절. 튜플
- 리스트와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [ ]:
city = ('서울', '부산', '인천', '목포')
print(type(city))
print(city)

In [ ]:
', '.join(city)

In [ ]:
l = ['서울'] # 요소가 하나 있는 리슽
print(type(l))
print(l)
print(len(l))

In [ ]:
city = ('서울') # 요소가 하나 있는 튜플(x)
print(type(city))
print(city)
print(len(city))

In [ ]:
city = ('서울') # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

In [ ]:
a, b = 10, 20
# (a, b) = (10, 20)

In [ ]:
numbers = 1,2,3 # numbers = (1,2,3)
print(type(numbers))
print(numbers)

In [ ]:
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음

In [ ]:
min(numbers), max(numbers), len(numbers)

In [ ]:
numbers = (0,1,2,(1,2),0,1,2)
numbers.count(2)

In [ ]:
numbers.index(2) # 처음부터 2가 처음 나오는 곳의 index

In [ ]:
numbers.index(2,3) # 3번째 부터 2가 나오는 index

In [ ]:
numbers.index(9)

In [ ]:
# numbers 안에 9 요소가 있는 여부
print(numbers.count(9))
print(9 in numbers)

In [ ]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [ ]:
safe_index(numbers, 9)

In [ ]:
numbers = (1,2,3)
numbers + numbers # 연결

In [ ]:
numbers * 3 # 반복

In [ ]:
# ex. 짝수 요소들을 추출하여 제곱한 리스트를 출력하시오
numbers = (1,2,3,4,5,6)
[x**2 for x in numbers if x%2==0]

# 3절. 딕셔너리
cf. 자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 list는 사용불가. 키에 tupple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키의 값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원 안 함

In [3]:
dic = {'name':'홍길동',1:'val',(1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 'val', (1, 2): [1, 2]}

In [5]:
len(dic) # 데이터 요소의 갯수

3

In [7]:
my_favorite = {'fruit':'apple', 'number' :12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [8]:
my_favorite['fruit']

'apple'

In [9]:
my_favorite.get('fruit')

'apple'

In [13]:
# print(my_favorite('people')) # 키목록에 없는 데이터를 인덱스로 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None

None

In [21]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number' :12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :',my_favorite)
my_favorite['people'] = '홍길동'
print('people 키 추가 후 :',my_favorite)
print('데이터 갯수 : ', len(my_favorite))
# del my_favorite['sport'] # 'sport':'golf' w제거
# del(my_favorite['sport'])
print('sport 제거 후 :',my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 키 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
데이터 갯수 :  4
sport 제거 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}

In [22]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동',30,'010-9999-9999')

In [30]:
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print('{}번째 : {}\t'.format(idx,my_tuple[idx]), end="")
print()
for idx, value in enumerate(my_tuple):
    print('{}번째 : {}'.format(idx, value), end='\t')

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [23]:
# for문을 이용한 딕셔너리 출력
my_dic = {'name': '홍길동','age':30,'tel':'010-9999-9999'}

In [34]:
for key in my_dic:
    print("{}:{}".format(key,my_dic[key]), end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [35]:
for idx, value in enumerate(my_dic):
    print('{} : {}'.format(idx,value))

0 : name
1 : age
2 : tel

In [36]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [37]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [38]:
my_dic.items() # 키-값의 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [39]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [41]:
for key, value in my_dic.items():
    print('{}:{}\t'.format(key,value), end=' ')

name:홍길동	 age:30	 tel:010-9999-9999

In [42]:
# in 연산자
t = (10, 20 ,30)
30 in t

True

In [43]:
my_dic = {'name': '홍길동','age':30,'tel':'010-9999-9999'}
'name' in my_dic
# 딕셔너리에서의 in연산자는 키가 있는 여부 반환

True

In [44]:
'홍길동' in my_dic

False

In [45]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite # 얕은 복사(할당)
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))

my_favorite의 주소 : 2411836984448
new_favorite의 주소 : 2411836984448

In [48]:
new_favorite['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorite['people'] = '홍길동'
print('원본 :',my_favorite)
print('수정본 :',new_favorite)

원본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}

In [51]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy() # 깊은 복사(복제)
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아. 하나를 어찌 선택해'
new_favorite['people'] = '홍길동'
print('원본 :',my_favorite)
print('수정본 :',new_favorite)

my_favorite의 주소 : 2411832138816
new_favorite의 주소 : 2411835975296
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아. 하나를 어찌 선택해', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서X)
- 중괄호({})나 set()함수를 이용해서 셋 생성 : set([1,2]), set({'name':'홍'})
- 추가 : add(), update()
- 집합연산자 : &-교집합, |-합집합, -차집합
- 삭제 : remove()

In [2]:
fruits = {'banana','orange','apple','apple'}
fruits

{'apple', 'banana', 'orange'}

In [3]:
s1 = set([1,2,3,1,1,1,1,1,1])
s1

{1, 2, 3}

In [4]:
s2 = set((1,2,3,1))
s2

{1, 2, 3}

In [5]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할때는 key만 적용
s3 = set({'name':'홍','age':33,'add':'서울'})
s3

{'add', 'age', 'name'}

## 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic, set유형은 add()함수 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dic사용시 key만 적용
    cf. list의 extend()

In [7]:
s2.add(4)
s2.add(5)
s2.add((6,7,8))
s2

{(6, 7, 8), 1, 2, 3, 4, 5}

In [8]:
s2.add(0)
s2

{(6, 7, 8), 0, 1, 2, 3, 4, 5}

In [10]:
s2 = {1,2,3}
s2.add(False)
s2

{False, 1, 2, 3}

In [11]:
s2.update((4,5,6))
s2

{False, 1, 2, 3, 4, 5, 6}

In [12]:
s2.update({'name':'홍'}) # 딕셔녀리는 키만 추가
s2

{1, 2, 3, 4, 5, 6, False, 'name'}

In [17]:
# 삭제 : remove()
s1 = {1,2,3,4,1,1}
s1

{1, 2, 3, 4}

In [18]:
s1.remove(2)
s1

{1, 3, 4}

In [19]:
if 9 in s1:
    s1.remove(9)
else:
    print('없는 요소')

없는 요소

In [20]:
def safe_remove(lst, remove_item): # data : list, set
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다.')

In [21]:
safe_remove(s1, 9)

해당 데이터는 없는 아이템입니다.

In [22]:
s1

{1, 3, 4}

In [23]:
# 논리값 False는 0으로 삭제할 수 있으며, True는 1로 삭제할 수 있음
# 논리값 0은 False로 삭제할 수 있으며 , 1은 True로 삭제할 수 있음
s1.remove(True)
s1

{3, 4}

## 합집합(|), 교집합(&), 차집합(-)

In [25]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 =' , s1)
print('s2 =' , s2)
print('s1|s2 =', s1|s2) # &, | : 집합연산자, 논리연산자, 비트연산자
print('s1&s2 =', s1&s2)
print('s1-s2 =', s1-s2)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1-s2 = {1, 2}

In [26]:
names = {'길자','순자','길동'}
print(names)

{'순자', '길동', '길자'}

In [27]:
for name in names:
    print(name, end='\t')

순자	길동	길자

# 5절 enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 셋을 for문에 사용시

In [29]:
list(enumerate (names))

[(0, '순자'), (1, '길동'), (2, '길자')]

In [30]:
for no, name in enumerate(names):
    print("{}.{}".format(no, name), end='\t')

0.순자	1.길동	2.길자

In [32]:
names = ['순자', '길동', '길자']

for idx, name in enumerate(names):
    print("{}.{}".format(idx+1,name))

1.순자
2.길동
3.길자

In [35]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888','010-7777-7777']
adds = ['서울', '인천', '판교']
for idx in range(len(names)):
    print("{}.{}의 연락처는 {}이고 {} 살아요".format(idx+1, names[idx], tels[idx], adds[idx]))

1.순자의 연락처는 010-9999-9999이고 서울 살아요
2.길동의 연락처는 010-8888-8888이고 인천 살아요
3.길자의 연락처는 010-7777-7777이고 판교 살아요

In [38]:
my_dic = {'name':'홍','age':33,'address':'신림'}
for data in my_dic.values(): # value값들만 추출
    print(data)
for key, value in my_dic.items(): # key - value값들만 추출
    print("{}:{}".format(key, value))

홍
33
신림
name:홍
age:33
address:신림

In [41]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍')), (1, ('age', 33)), (2, ('address', '신림'))]

In [42]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}. {} : {}".format(idx + 1, key, value))

1. name : 홍
2. age : 33
3. address : 신림

# 6. 연습문제

In [83]:
numbers = [1,2,3,4,5,6,7,8,9,10]

## 1. 숫자 100을 맨 뒤에 추가하세요

In [84]:
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

## 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요

In [85]:
data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

## 3. 처음 다섯 개 숫자만 출력하세요

In [86]:
print(numbers[:5])

[1, 2, 3, 4, 5]

## 4. 리스트에서 짝수 번째 데이터만 출력하세요

In [87]:
for idx in range(int(len(numbers)/2)+1):
    print(numbers[idx*2], end= ' ')
numbers[::2]

1 3 5 7 9 100 300 500

[1, 3, 5, 7, 9, 100, 300, 500]

## 5. 짝수번째 데이터를 모두 0으로 바꾸세요

In [88]:
for idx in range(int(len(numbers)/2)+1):
    numbers[idx*2] = 0
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

## 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)

In [89]:
numbers[::-1]

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [2]:
member_info = {'name':'홍길동', 'age':'20', 'address':'서울시 마포구','score':90}

## 7. address값을 출력하세요

In [3]:
print(member_info['address'])
print(member_info.get('address'))

서울시 마포구
서울시 마포구

## 8. score를 출력하고 member_info 딕셔너리에서 삭제하세요.

In [97]:
print(member_info['score'])
member_info.pop('score')

90

90

## 9. Address를 "서울시 서대문구"로 변경하세요.

In [98]:
member_info['address']='서울시 서대문구'
member_info['address']

'서울시 서대문구'

## 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [102]:
member_values=[]
for items in member_info.values():
    member_values.append(items)
member_values

['홍길동', '20', '서울시 서대문구']

# 연습문제(서술형)

## 1. ['orange', 'banana']

In [104]:
L1 = ('orange','apple','banana','kiwi')
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['ornage', 'banana']

## 2. 3

In [105]:
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

## 3. 1

In [108]:
numbers_2d = [[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])

1

## 4. extend

In [110]:
numbers=[1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

## 5. [0,1,0,3,0,5,0,7,0,9]

In [111]:
numbers = list(range(10))
numbers[::2] = [0] * len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

## 6. [5,1,6,3,7,5,8,7,9,9]

In [113]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

## 7. [0,1,1,3,2,5,3,7,4,9]

In [115]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2]=numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

## 8. 1

In [118]:
my_dic = {'a':10, 'b':20, 'c':30}
# print(my_dic[0])
print(my_dic['a'])
print(list(my_dic.items())[0][1])
print(list(my_dic.values())[0])
print(my_dic.get('a'))

10
10
10
10

[('a', 10), ('b', 20), ('c', 30)]

## 9. apple, banana, orange

In [122]:
fruits = ['apple','banana','orange']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

## 10. 3

In [121]:
fruits = ['apple','banana','orange']
print(len(fruits))

3

## 11. def