<b><font color='red' size='6'>ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것.
- 오버로딩 불가
- 함수의 정의
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2
```

# 1절. 함수의 정의 및 사용
## 1.1 함수정의하기

In [ ]:
def my_hello(x, msg): #함수 정의
    for i in range(x): # x번 반복
         print(i, msg)

In [ ]:
my_hello(5, 'Hello, python') # 함수 호출

In [ ]:
type(my_hello)

In [ ]:
my_hello = 10
type(my_hello)

In [ ]:
my_hello(5, 'Hello, python')

In [ ]:
del my_hello

In [ ]:
def my_hello(x, msg): #함수 정의
    for i in range(x): # x번 반복
         print(i, msg)

In [ ]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

In [ ]:
my_hello()

In [ ]:
my_hello

In [ ]:
__name__

In [ ]:
if __name__ == '__main__':
    my_hello()

In [ ]:
import a

In [ ]:
a.test()

In [ ]:
from a import test # a 모듈안의 test 로드

In [ ]:
test()

## 1.2 docstring

In [ ]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할.
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """
    pass

In [ ]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1
    while a < n :
        print (a, end=' ')
        a, b = b, a+b
    print()

In [ ]:
fibonacci(1000)

## 1.3 지역변수(local var)와 전역변수(global var)

In [ ]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :',global_var)
func1()
print('함수밖 :', global_var)

In [ ]:
def func2():
    local_var = 200 # 지역변수
    print('함수안 :',local_var)
func2()
print('함수밖 :', local_var)

In [ ]:
g_var = 100 # 전역변수(변수 선언과 할당)
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('지역변수 g_var :',g_var)
func3()
print('전역변수 g_var :', g_var)

In [3]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var # func3 함수내에서의 g_var는 전역변수
    print('함수안 g_var :', g_var)
    g_var = 200 # 지역변수
func3()
print('함수밖 g_var :', g_var)

함수안 g_var : 100
함수밖 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일때

In [11]:
foo = 'a' # 전역변수
id(foo)

1947753932784

In [13]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f,'의 주소는 ',id(f))
    f = f*3 # aaa
    print('After :', f, '의 주소는 ',id(f))

In [14]:
func1(foo)

Before : a 의 주소는  1947753932784
After : aaa 의 주소는  1945704815856

In [15]:
print('foo =', foo, '의 주소는 ',id(foo))

foo = a 의 주소는  1947753932784

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [20]:
L = [1,2,3,4,5]
id(L)

1945684437376

In [21]:
def func2(f) : # 매개변수는 지역변수
    print('before :',f,'의 주소는 ', id(f))
    f.append(6)
    print('after :',f,'의 주소는 ', id(f))
func2(L)

before : [1, 2, 3, 4, 5] 의 주소는  1945684437376
after : [1, 2, 3, 4, 5, 6] 의 주소는  1945684437376

In [24]:
print('L=', L, '의 주소는 ', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는  1945684437376

## 1.6 함수의 이름 변경
- Python : 함수형언어, 객체지향언어

In [50]:
fibonacci(20)

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
fibo = fibonacci # fibonacci 함수이름을 fibo로도 사용가능

In [ ]:
fibo(20)

# 2절. 함수의 실행결과

In [33]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1
    while a < n :
        print (a, end=' ')
        a, b = b, a+b
    print()
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a+b
    return result

In [30]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

In [34]:
x = fibonacci(10)
print(x)

[0, 1, 1, 2, 3, 5, 8]

## 여러 개 값 return

In [36]:
def swap(a, b):
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a

In [40]:
x, y = 5, 10
print('함수 실행 전 x, y = ', x, y)
x, y=swap(x, y)
print('함수 실행 후 x, y = ', x, y)

함수 실행 전 x, y =  5 10
함수 실행 후 x, y =  10 5

In [42]:
a = swap(10, 20)
print(type(a))
print(a)

<class 'tuple'>
(20, 10)

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [43]:
def make_url(ip,port=80): # 순서인수>기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [47]:
print(make_url('localhost', 8090))
print(make_url('localhost'))
print(make_url(port=9090, ip='www.naver.com'))

http://localhost:8090
http://localhost:80
http://www.naver.com:9090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수(문자,숫자,논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리 또는 객체일 때

In [48]:
i = 5
# 기본변수가 스칼라변수일 때: arg의 기본값은 함수가 정의되는 시점으로 셋팅
def func2(arg=i):
    print('arg =', arg)

In [49]:
i = 10
func2()

arg = 5

In [58]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 실행되는 시점
list_ = []
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))
print('list_ :', list_)

[10]
list_ : [10]

In [59]:
print(func3(20))
print('list_ :', list_)

[10, 20]
list_ : [10, 20]

In [60]:
print(func3(30))
print('list_:',list_)

[10, 20, 30]
list_: [10, 20, 30]

In [63]:
def func3(a, L=[]):
    L.append(a)
    return L
print(func3(10))
print(func3(10, [1,2,3,]))

[10]
[1, 2, 3, 10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의도니 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시적으로 전달방식
- 함수 정의시 순서인수와 키워드 인수가 같이 올 때는 순서인수 > 키워드인수 순으로
```
def function명(변수명1, 변수명2, ... 변수명n=기본값):
```

In [64]:
def fun(a, b):
    return a*10+b

In [65]:
fun(b=3, a=4)

43

In [66]:
def func4(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [71]:
lst = []
print(func4(10, lst))
print(func4(L=lst, a=10))
print(func4(20))
print(func4(20,None))

[10]
[10, 10]
[20]
[20]

## 3.4 튜플 매개변수를 이요한 가변인수 설정

In [72]:
def add(a,b):
    return a+b
def add(a, b, c): # 덮어씌움
    return a+b+c

In [73]:
add(1,2,3)

6

In [74]:
add(1,2)

TypeError: add() missing 1 required positional argument: 'c'

In [80]:
# args 앞의 * : args가 튜플로 전달
def add(*args):
    '전달받은 매개변수들의 합을 return, 매개변수가 없는 경우 0을 return'
#     print(args)
    sum = 0 # 누적변수
    for num in args:
        sum += num
    return sum

In [83]:
print(add(1))
print(add(1,2))
print(add(1,2,3,5))
print(add())

1
3
11
0

In [ ]:
subject = 'Java','Oracle','Web','Python'
'-'.join(subject)

In [88]:
def concat(*subject, sep):
    return sep.join(subject)

In [89]:
concat('Java', 'Oracle','Web','Python', ' ~ ')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [90]:
# 해결책1 : 파라미터이름을 지정해서 호출
concat('Java', 'Oracle','Web','Python', sep=' ~ ')

'Java ~ Oracle ~ Web ~ Python'

In [93]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep= ' '): # 튜플인수 > 키워드인수
    return sep.join(subject)

In [94]:
concat('Java', 'Oracle','Web','Python')

'Java Oracle Web Python'

In [96]:
concat('Java','Oracle','Web','Python','~')

'Java Oracle Web Python ~'

In [98]:
concat('Java','Oracle','Web','Python',sep='~')

'Java~Oracle~Web~Python'

In [99]:
# 해결책3 : sep을 순서인수로 앞으로 선언
def concat(sep, *subject):
    return sep.join(subject)

In [100]:
concat('~','Java','Oracle','Python')

'Java~Oracle~Python'

## 3.5 딕셔너리 매개변수
- 딕셔너리인수 ; 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [105]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print("{}:{}".format(key, value))

In [106]:
func5(name="홍길동", age=33)

{'name': '홍길동', 'age': 33}
<class 'dict'>
name:홍길동
age:33

In [107]:
func5(name="김길동", address="서울", tel="010-9999-9999")

{'name': '김길동', 'address': '서울', 'tel': '010-9999-9999'}
<class 'dict'>
name:김길동
address:서울
tel:010-9999-9999

## 3.6 함수 정의시 매개변수의 순서
순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리 인수 (**)

In [109]:
# 순서인수 > 튜플인수 > 딕셔너리 인수
def func6(a, b, *c, **d):
    print('순서인수 a =', a)
    print('순서인수 b =',b)
    print('튜플인수 c = ',c)
    print('딕셔너리 d =',d)

In [110]:
func6(10,20,1,2,3,4,5,6,7, anme="kim",age=30)

순서인수 a = 10
순서인수 b = 20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7)
딕셔너리 d = {'anme': 'kim', 'age': 30}

In [113]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리 인수 (**)
def func7(a, b, c, *d, e=10, **f):
    print('a =',a)
    print('b =',b)
    print('c =',c)
    print('d =',d)
    print('e =',e)
    print('f =',f)

In [117]:
func7(10,20,30,1,2,3,4,5,e=100,shape="rect", width=20, height=30)

a = 10
b = 20
c = 30
d = (1, 2, 3, 4, 5)
e = 100
f = {'shape': 'rect', 'width': 20, 'height': 30}

In [118]:
func7(10,20,30)

a = 10
b = 20
c = 30
d = ()
e = 10
f = {}

In [119]:
func7(10,20,30, e = 100)

a = 10
b = 20
c = 30
d = ()
e = 100
f = {}

## 3.7 인수의 언패킹

### 튜플인수 언패킹

In [120]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [121]:
add(1,2,3,4,5)

15

In [122]:
numbers = (1,2,3,4,5)
add(*numbers) # 튜플 언패킹
add(numbers[0],numbers[1],numbers[2],numbers[3],numbers[4])

15

In [123]:
num_lst = [1,2,3]
add(*num_lst)

6

### 딕셔너리 인수 언패킹

In [126]:
def func8(**data):
    for item in data.items():
        print(item)
func8(shape="rect", height=30, width=40)

('shape', 'rect')
('height', 30)
('width', 40)

In [131]:
info = {'shape':'triangle', 'height':40, 'width':30}
info

{'shape': 'triangle', 'height': 40, 'width': 30}

In [135]:
func8(**info)

('shape', 'triangle')
('height', 40)
('width', 30)